<x-eidostheme::layout-basic
    title="{{ __('about.aboutContext') }}"
    description="{!! $currentContext->getLocalizedData('description') !!}"
>
  {!! $currentContext->getLocalizedData('about') !!}
</x-eidostheme::layout-basic>