<x-eidostheme::layout
    title="{{ $currentContext->getLocalizedName() }}"
    description="{{ $currentContext->getLocalizedData('description') }}"
>
    <div class="page-container">
        <h1>Hello</h1>
    </div>
</x-eidostheme::layout>