<x-eidostheme::layout
    title="{{ $currentContext->getLocalizedName() }}"
    description="{{ $currentContext->getLocalizedData('description') }}"
>

    <h1>
        Homepage
    </h1>

</x-eidostheme::layout>
