.header-desktop {
  --inline-padding: 4rem;
  display: none;
  position: relative;
}

@media (min-width: 64rem) {
  .header-desktop {
    display: contents;
  }
}

.header-desktop-inner {
  background: var(--color-header-background);
  color: var(--color-header-text);
}

.header-desktop-inner-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem var(--inline-padding);
}

.header-desktop-context {
  display: flex;
  align-items: center;
  gap: 2rem;
  max-width: 50%;
}

.header-desktop-logo {
  width: auto;
  height: auto;
  max-width: 16rem;
  max-height: 6rem;
}

.header-desktop-name {
  font-family: var(--font-titles);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.25;
  text-wrap: balance;
}

.header-desktop-name-xs {
  font-size: 3rem;
}

.header-desktop-name-sm {
  font-size: 2rem;
}

.header-desktop-name-md {
  font-size: 1.5rem;
}


.header-desktop-tagline {
  max-width: 16rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25;
}

.header-desktop-utility {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-desktop-search {
  @apply tab-focus;
  display: flex;
  align-items: center;
  gap: 0.25em;
  padding: 0.25em 0.5em;
}

/**
 * Homepage image
 */
.header-desktop-above {
  background: var(--color-header-background);
}

.header-desktop-image-above,
.header-desktop-image-below,
.header-desktop-image-behind {

  .header-desktop-image {
    width: 100%;
    height: auto;
  }
}

.header-desktop-image-above-center,
.header-desktop-image-below-center {

  .header-desktop-above,
  .header-desktop-below {
    display: flex;
    justify-content: center;
  }
}


.header-desktop-image-behind,
.header-desktop-image-behind-right-top,
.header-desktop-image-behind-right-center,
.header-desktop-image-behind-right-bottom {

  .header-desktop-inner {
    display: grid;
    grid-template-columns: 1fr;
    align-items: end;
  }

  .header-desktop-behind,
  .header-desktop-inner-content {
    grid-area: 1 / 1;
  }
}

.header-desktop-image-behind-right-top,
.header-desktop-image-behind-right-center,
.header-desktop-image-behind-right-bottom {

  .header-desktop-inner {
    align-items: center;
  }

  .header-desktop-behind {
    justify-self: end;
  }

  .header-desktop-image {
    max-height: 12rem;
  }
}

.header-desktop-image-behind-right-top {

  .header-desktop-behind {
    align-self: start;
  }
}

.header-desktop-image-behind-right-bottom {

  .header-desktop-behind {
    align-self: end;
  }
}

.header-desktop-image-behind-pattern {

  .header-desktop-inner {
    position: relative;
  }

  .header-desktop-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: repeat-both;
  }

  .header-desktop-inner-content {
    position: relative;
  }
}
